#manga-detail .manga-detail-header .page-title {
    transform: translateY(-3px);
}

#manga-detail .manga-detail-article {
    width: 100%;
    min-width: 720px;
    max-width: 1000px;
    margin: 20px auto;
    padding: 4px;
}
