@import 'styles/variable.styl';

.files-list {
    overflow-x: hidden;
    overflow-y: auto;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: self-start;
    align-content: flex-start;
}

.file-cover {
    margin: 10px;
    flex-shrink: 0;
    flex-grow: 0;
    box-shadow: 2px 2px 4px Shadow;
    position: relative;
    transition: box-shadow 200ms;

    &:hover {
        box-shadow: 2px 2px 6px (Shadow - #444);
    }

    .file-cover__inner {
        position: relative;
    }

    .file-seleted__mask {
        opacity: 0;
        transition: opacity 100ms linear;
    }

    &.file-cover__selected .file-seleted__mask {
        opacity: 1;
    }

    .file-seleted__mask,
    .file-seleted__mask-outside,
    .file-seleted__mask-inside {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .file-seleted__mask-outside {
        border: 2px solid #316AC5;
        z-index: 10;
    }

    .file-seleted__mask-inside {
        border: 3px solid #FFFFFF;
        z-index: 9;
    }

    .file-progress__mask {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: Blue;
        background-color: rgba(0, 0, 0, .4);
    }
}
