registry=https://registry.npm.taobao.org/
electron_mirror=https://npm.taobao.org/mirrors/electron/
sharp_dist_base_url=http://sharp.pixelplumbing.com/en/stable/install/#pre-compiled-libvips-binaries/
