@import '../../css/variable.styl'

main#main-setting {
    width 680px
    margin 0 auto

    .settings-section {
        .settings-title {
            margin 28px 0 16px 0
            font-size 14px
            color Black
        }

        &:first-child .settings-title {
            margin-top 0
        }

        .settings-card {
            display flex
            flex-direction column
            font-size 13px
            background-color #fff
            border-radius 4px
            box-shadow 0 1px 5px Shadow
        }

        .settings-line,
        .settings-subline {
            display flex
            align-items center
            justify-content space-between
        }

        .setting-box,
        .settings-line,
        .settings-subline {
            border-bottom 1px solid Gray
            
            &:last-child {
                border-bottom none
            }
        }

        .settings-line {
            min-height 48px
            padding 14px 20px
        }

        .settings-subline {
            padding 10px 20px 10px 30px
            font-size 12px
            min-height 38px
        }

        .anticon {
            cursor pointer
        }

        .settings-line__name, .settings-line__subname {
            line-height 140%
        }

        .settings-line__subname {
            color BlackLighter
        }
    }
}
