.category-selector {
    display inline-block
    color #fff
    font-weight bold
    font-size 12px
    border-radius 4px
}

.category-selector.category-selector-has-value {
    .ant-select-selection {
        border-color transparent
        background-color transparent

        &:focus {
            box-shadow none
        }
    }

    .ant-select-arrow {
        color #fff
    }

    .ant-select-selection__rendered {
        display flex
        justify-content center
    }
}

.category-selector-option {
    color #fff
    border-radius 0 !important
}
