.tag-editer {
    .ant-modal-body {
        padding-top: 14px;
        padding-bottom: 10px;

        [class|="ant-row"], [class|="ant-col"] {
            min-height: 32px;
        }

        [class|="ant-row"]+[class|="ant-row"] {
            margin-top: 4px;
        }
        
        .ant-row-flex [class|="ant-col"] {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            height: 100%;
        }

        // .ant-tag {
        //     margin-bottom: 8px;
        // }
    }
}
