.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-body {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    height: calc(~'100% - 32px');
}

.app-content__wrapper {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 10px 18px;
    overflow: hidden auto;
}
