ant-btn-color(name, color) {
    .ant-btn.ant-btn-{name} {
        color: #fff;
        border-color: color;
        background-color: color;
    }
}

ant-btn-color(success, #67c23a);
ant-btn-color(warning, #e6a23c);

.ant-modal-wrap {
    .ant-modal-confirm {
        .ant-modal-body {
            padding: 24px;
        }
        // .ant-modal-confirm-btns {
        //     margin-top: 16px;
        // }
        .ant-modal-confirm-content {
            white-space: pre-line;
            margin-top: 0;
        }
    }
}
