#app {
    display flex
    flex-direction column
    
    .app-body {
        flex-grow 1
        flex-shrink 1

        display flex
    }

    .app-content__wrapper {
        flex-grow 1
        flex-shrink 1
        height 100%
        overflow hidden auto
    }
}
