//主要颜色定义
Shadow = #CCC

// 无衬线字体
font-default = "Helvetica", "Arial", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif
// 衬线字体
font-serif = "Georgia", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", serif

// 默认字体大小
font-default-size = 16px;
