//主要颜色定义
Shadow = #CCC
Blue = #1890FF
BorderColor = #EEE

// 无衬线字体
font-default = "-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif
// 衬线字体
font-serif = "Georgia", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", serif

// 默认字体大小
font-default-size = 16px;
