.files-list {
    overflow-x: hidden;
    overflow-y: auto;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: self-start;
    align-content: flex-start;
}
