@import '../../css/variable.styl';

#tag-collection .tag-collection-article {
    width: 100%;
    min-width: 720px;
    max-width: 1000px;
    margin: 20px auto;
    padding: 4px;

    .tags-group-card {
        margin: 10px 0 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        &:first-child {
            margin-top: 0;
        }

        boxPaddingX = 6px;
        boxPaddingY = 4px;

        .tags-group-card__header {
            display: inline-block;
            padding: boxPaddingY 0;
            border-bottom: 1px solid BorderColor;

            .tags-group-card__title {
                margin: 0 20px 0 boxPaddingX;
                font-size: 110%;
            }

            .tags-group-card__action {
                color: Blue;
                cursor: pointer;
                margin-right: 10px;
            }
        }

        .tags-group-card__content {
            padding: boxPaddingY boxPaddingX;
        }
    }
}

.tags-group-menu {
    [index-data="delete"] {
        color: Red;
    }
}
