@import 'styles/variable';

.app-sidebar {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    border-right: 1px solid Gray;
    background-color: WhiteMask;

    width: 140px;
    transition: width .3s, border .3s;

    &.app-sidebar__fold {
        width: 80px;
        border-right: 0;
    }

    :global {
        .ant-menu {
            background-color: transparent;
        }

        .anticon {
            font-size: 110%;
        }

        .ant-menu-item > a {
            display: inline-block;
        }

        .ant-menu-inline-collapsed .ant-menu-item > a {
            display: block;
        }
    }
}
