@import '../../css/variable.styl'

main#manga-detail-main {
    max-width 1200px
    min-width 740px
    margin 0 auto

    .card-box {
        margin 10px 0
        padding 10px
        border-radius 4px
        box-shadow 0 0 6px #bbb
    }

    #manga-detail {
        display flex
        
        .manga-cover {
            width 250px
            height 100%
            margin-right 25px

            img {
                max-width 250px
                max-height 100%
            }
        }

        .manga-info {
            flex-grow 1

            display inline-flex
            flex-direction column

            .manga-name {
                flex-grow 0
                flex-shrink 0

                font-size 14px
                padding 2px 0
                margin 4px 0
                color Black
                border-bottom 1px solid Gray - #111
            }
        }

        .manga-meta {
            flex-grow 1
            flex-shrink 0

            display flex

            margin-top 6px

            > * {
                flex-shrink 0
                flex-grow 0
            }
        }

        .manga-file {
            width 210px
            flex-shrink 0
            
            .manga-category {
                margin-top 6px
                text-align center
            }

            .manga-baisc {
                margin 20px 0

                .manga-basic-label,
                .manga-basic-value {
                    display inline-block
                    line-height 22px
                    font-size 12px
                    white-space nowrap
                }

                .manga-basic-label {
                    font-weight bold
                }

                .manga-basic-value {
                    padding-left 3px
                }
            }
        }

        .manga-tags {
            flex 1
            border-left 1px solid Gray - #111
            border-right 1px solid Gray - #111
        }

        .manga-action {
            flex-shrink 0
            width 180px
            margin-top 6px

            display flex
            flex-direction column
            justify-content center
            align-items center

            > * {
                margin-bottom 12px
                width 100px
            }
        }
    }

    #manga-previews {
        display: flex;
        flex-wrap: wrap;

        .image-block {
            display inline-block
            margin 5px
            height 150px
            box-shadow 0px 0px 6px Shadow
        }

        .image-background {
            margin 0
            background-repeat no-repeat
            background-color transparent
        }
    }
}

@media screen and (max-width: 1200px) {
    #manga-detail {
        height: 340px;

        .manga-cover {
            display: none;
        }
    }
}
