@import '../../css/variable.styl'

Height = 32px

.app-header {
    height Height

    color #fff
    font-size 12px
    background-color #666

    flex-grow 0
    flex-shrink 0

    display flex
    align-items center
    justify-content space-between

    user-select none
    -webkit-app-region drag

    > span {
        display inline-flex
        align-items center
    }

    .app-title-bar__icon {
        cursor default
        padding 10px 17px
        display flex
        -webkit-app-region no-drag

        &:hover {
            background-color Red
        }
    }

    .app-title-bar__logo {
        padding 4px 11px
        font-size 24px
    }
    
    .app-title-bar__title {
        padding 0 13px
    }
}

.app-header.app-header__focus {
    background-color Black

    .app-title-bar__icon {
        &:hover {
            background-color BlackLight
        }

        &.icon-close:hover {
            background-color Red
        }
    }
}
