WarningRed = rgba(255,105,105,1);
WarningRedLight = rgba(255,105,105,.8);

.app-warning-dialog {
    .ant-modal-content {
        border: 1px solid WarningRed;
        box-shadow: 0 0 6px WarningRedLight;
    }

    .ant-tag {
        margin: 0 6px;
    }

    .ant-modal-confirm-content {
        white-space: pre;
    }

    .ant-btn-primary {
        color: #fff;
        background-color: WarningRed;
        border-color: WarningRed;

        &:hover, &:focus {
            color: #fff;
            background-color: WarningRedLight;
            border-color: WarningRedLight;
        }
    }
}
